.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn-primary, .breadcrumb-primary {
background: linear-gradient(to right, #061161, #780206) !important;
}
.start_project_head h2 {
    font-size: 32px;
    color: 
    #fff;
    padding-bottom: 14px;
    text-transform: uppercase;
}
.start_project_section {
    position: relative;
  background: linear-gradient(to right, #061161, #780206);
        background-size: auto;
    padding: 50px 0 20px 0px;
   
    text-align: center;
}
.start_project_head span {
    font-size: 20px;
    color: 
    #fff;
    font-family: "Times New Roman", Times, serif;
}
.contact_button {
    display: block;
    text-align: center;
    margin-top: 28px;
}
.contact_button a {
    display: inline-block;
    font-size: 22px;
    color: 
#fff;
height: 69px;
line-height: 70px;
padding: 0px 35px;
border: solid 1px
    #fff;
    border-radius: 5px;
    font-family: "Times New Roman", Times, serif;
}